<div class="row">
  <div class="col-lg-10 mx-auto">
    <div class="card mb-3" *ngIf="pokemon">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="text-white text-capitalize mb-3">{{pokemon.name}}</h3>
          </div>
          <div class="col-md-6 text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li *ngFor="let img of images; let first = first; let i = index;"
                    data-target="#carouselExampleIndicators"
                    [attr.data-slide-to]="i" [ngClass]="{'active':first}"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let img of images; let first = first; let i = index;"
                     [ngClass]="{'active':first}">
                  <img [src]="img" class="d-block w-75 mx-auto" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-md-6 poke-detail">
            <table class="table text-white mt-3">
              <tr>
                <th>Height</th>
                <td>{{pokemon.height}}</td>
              </tr>
              <tr>
                <th>Weight</th>
                <td>{{pokemon.weight}}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>
                  <span class="badge badge-secondary text-capitalize"
                        *ngFor="let type of pokemon.types; let last=last;"
                        [ngClass]="{'mr-3':!last}">{{type.type.name}}</span>
                </td>
              </tr>
              <tr>
                <th>Abilities</th>
                <td>
                  <span class="badge badge-secondary text-capitalize"
                        *ngFor="let ability of pokemon.abilities; let last=last;"
                        [ngClass]="{'mr-3':!last}">{{ability.ability.name}}</span>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-md-6 mt-3 text-white border-top pt-3 poke-detail">
            <h5>Description:</h5>
            <p>{{description}}</p>
          </div>
          <div class="col-md-6 mt-3 text-white border-top pt-3 poke-detail">
            <h5>Stats:</h5>
            <table class="table text-white">
              <tr *ngFor="let item of pokemon.stats">
                <td class="w-50">{{item.stat.name}}</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         style="width:10%" [ngStyle]="{'width':item.base_stat+'%'}" [attr.aria-valuenow]="item.base_stat" aria-valuemin="0"
                         aria-valuemax="100">{{item.base_stat}}%
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-md-12 mt-3 text-white border-top pt-3 poke-detail">
            <h5>Evolutions:</h5>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let evo of evolutions">
                <app-pokemon [pokeUrl]="evo.url"></app-pokemon>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
